
.sudoku {
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    /* border: 6px dashed; */
    

}

td {
    width: 40px;
    height: 40px;
    
}

input.cell {
    width: 100%;
    height: 100%; 
    font-size: 18px;
    text-align: center; /* Horizontally center the text */
    /* line-height: 40px; */
}

.sudoku-grid {
    border: 1px solid;
    
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid;
    
}

.b-b {
    border-bottom: 6px solid;
}

.b-r {
    border-right: 6px solid;
}
